body{
    background-color: hsl(216, 12%, 8%);
    margin: 0;
    padding: 0;
   display: flex;
   flex-direction: column;
   height: 100vh;
   justify-content: center;
   font-family: 'Overpass', sans-serif;
}
.form{
    width: 25rem;
    align-self: center;
    padding: 30px;
    border-radius: 20px;
    background-image: linear-gradient(hsl(213, 19%, 18%),hsl(220, 14%, 13%));
}

p{
    color: hsl(216, 12%, 54%);
    font-size: 17px;
}
h1{
    color: #ffff;
    font-weight: 700;
}

.log{
    width: fit-content;
}
.image{
    padding: 17px;
    border-radius: 3rem;
    background-color: hsl(211, 19%, 22%);
}

button{
    color: hsl(217, 12%, 63%);
    font-weight: 600;
    font-size: 16px;
    border-radius: 3rem;
    height: 3.5rem;
    padding: 0;
    width: 3.5rem;
    background-color: hsl(212, 19%, 18%);
    margin: 10.4px;
    border: none;
}
button:hover{
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
    color: #ffff;
}

.submit {
    width: 98%;
    color: #ffff;
    background-color: hsl(25, 97%, 53%);
    font-size: 14px;
    font-weight: 700;
    margin: 14px 0 14px 0;
}
.submit:hover{
    color: hsl(25, 97%, 53%);
    background-color: #ffff;
    cursor: pointer;
}

.cl{
    background-color: hsl(215, 11%, 33%);
    color: #fff;
}

.nd{
    width: 25rem;
    text-align: center;
    align-self: center;
    padding: 30px;
    border-radius: 20px;
    background-image: linear-gradient(hsl(213, 19%, 18%),hsl(220, 14%, 13%));
    color: #fff;
}

.rating{
    border-radius: 2rem;
    font-size: 13px;
    width: fit-content;
    padding: 10px 25px;
    margin: 2rem auto auto 7rem;
    color: hsl(25, 97%, 53%);
    background-color: hsl(214, 20%, 21%);
}

@media screen and (max-width:500px){
    .nd{
        width: 20rem;
    }
    .rating{
        margin: 2rem auto auto 3.9rem;
    }
    .form{
        width: 20rem;
    }
    button{
        width: 2.5rem;
        height: 2.5rem;
        margin: 8.4px;
    }
}


@media screen and (max-width:400px){
    .nd{
        width: 13rem;
    }
    .rating{
        margin: 2rem auto auto 0.8rem;
        padding:8px 20px;
    }

    .form{
        width: 13rem;
    }
    button{
    width: 2rem;
    height: 2rem;
    margin: 2.4px;
    }
}

@media screen and (max-width:290px){
    .nd{
        width: 10rem;
    }
    .rating{
        margin: 2rem auto auto -0.2rem;
        padding:8px 4px;
    }
    .form{
        width: 10rem;
    }
    button{
    
        width: 1.4rem;
        height: 1.4rem;
    
    }
}

@media screen and (max-width:226px){
    .nd{
        width: 7rem;
    }
    .rating{
        margin: 2rem auto auto 0rem;
        padding:8px 7px;
    }

    picture img{
        width: 7rem;
    }

    .form{
        width: 7rem;
    }
    button{
    
        width: 1rem;
        height: 1rem;
    
    }
}

@media screen and (max-width:190px){
    .nd{
        width: 5rem;
    }

    picture img{
        width: 5rem;
    }
    .rating{
        margin: 2rem auto auto 0rem;
        padding:8px 7px;
    }
    .form{
        width: 5rem;
    }
    button{
    
        width: 1rem;
        height: 1rem;
    
    }
}